<form id="signup" name="signup" method="post" action="/appointment">
		<label for="services">Services</label>
        <input class="text" name="services" type="services" required/>
		<label for="date">date</label>
        <input class="text" name="date" type="text" required/>
		<label for="time">time</label>
        <input class="text" name="time" type="text" required/>
		<label for="firstname">Firstname</label>
        <input name="firstname" type="text" />
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" />
		<label for="email">Email Address</label>
        <input class="text" name="email" type="email" required/>
		<label for="phonenumber">phone</label>
        <input class="text" name="phonenumber" type="text" required/>
		<label for="stylist">stylist</label>
        <input class="text" name="stylist" type="text" required/>
        <input class="btn" type="submit" value="appointment" onclick="validate()" />
    </form>

