<!DOCTYPE html>
<html>
 
<head>
    <title>Sign-In</title>
	<!-- viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="./public/assets/css/style.css">
</head>
 
<body>
    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" required/>
        <label for="password">Password</label>
        <input name="password" type="password" id="password" required/>
        <input class="btn" type="submit" value="Sign In" onclick="validate()" />
    </form>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<!-- JS -->
	<script type="text/javascript" src="./public/js/login.js"></script>

</body>

</html>