body {
    height: 100%;
<<<<<<< HEAD
    background: url("../images/index.jpg") fixed center center;
    background-size: cover;
=======
>>>>>>> 4e0a099b8181410eb558544acef13f9cb6dde690
    font-family: 'Raleway', sans-serif;
    line-height: 1.8em;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    color: #fff;
=======
    color: #404040;
>>>>>>> 4e0a099b8181410eb558544acef13f9cb6dde690
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
<<<<<<< HEAD
    height: 130px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 100%);
    border-bottom: solid #999 1px;
    
=======
    height: 70px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 100%);
    border-bottom: solid #999 1px;
>>>>>>> 4e0a099b8181410eb558544acef13f9cb6dde690
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
}
nav ul li a {
<<<<<<< HEAD
    padding: 10px;
=======
    padding: 5px;
>>>>>>> 4e0a099b8181410eb558544acef13f9cb6dde690
    color: #fff;
    text-decoration: none;
    margin: auto 0 0 10px;
    transition: all 0.5s;
<<<<<<< HEAD
    font-size: 1.25em;
=======
>>>>>>> 4e0a099b8181410eb558544acef13f9cb6dde690
}
nav ul li a:hover {
    color: #ffeda1;
}
.container1 {
    padding: 0px 40px 40px 40px;
}
<<<<<<< HEAD
#heading h2 {
    padding-top: 50px;
    text-align: right;
    font-size: 6.5em;
    line-height: 1.1em;
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    font-style: italic;
    color: #fff1a3;
}
.message p {
    font-size: 1.6em;
    line-height: 1.6em;
    color: #fff;
}
.pullquote h2 {
    border-top: 1px solid #fff1a3;
    border-bottom: 1px solid #fff1a3;
    padding: 50px 0;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-style: italic;
    width: 100%;
    font-size: 2.2em;
    text-align: center;
    line-height: 1.6em;
    margin-bottom: 50px;
    color: #fff1a3;
}
.round {
    max-width: 300px;
    border-radius: 50%;
    border: 5px solid #fff;
=======

.instagramPhotos {
    padding-top: 100px;
    line-height: 1.1em;
    display: inline-block;
}

.services {
    padding-top: 100px;
    line-height: 1.1em;
}

.booking {
    padding-top: 100px;
    line-height: 1.1em;
}

.serviceItem {
    display: inline-block;
}

h3 {
    color: #404040;
    text-align: center;
}

p {
    color: #404040;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .instagramPhotos {
        padding-top: 100px;
    }
>>>>>>> 4e0a099b8181410eb558544acef13f9cb6dde690
}


@media screen and (max-width: 768px) {
    body {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, 
        rgba(0, 0, 0, 0.5) 100%), 
        url(../img/index.jpg) fixed center center;
        background-size: cover;
    }
    #heading h2 {
        padding-top: 100px;
        text-align: center;
        font-size: 2.8em;
    }
    .message p {
        font-size: 1.4em;
    }
    .pullquote h2 {
        font-size: 1.8em;
        line-height: 1.6em;
    }
}
/* promotions page keyframes slides*/
    @-webkit-keyframes slide {
        20% {margin-left: 0px;}
        30% {margin-left: -728px;}
        50% {margin-left: -728px;}
        60% {margin-left: -1456px;}
        70% {margin-left: -1456px;}
        80% {margin-left: -2184px;}
        90% {margin-left: -2184px;}
      }